[submodule "kernel/linux-sgx-driver"]
	path = kernel/linux-sgx-driver
	url = https://github.com/01org/linux-sgx-driver.git
[submodule "sdk/intel-sdk/linux-sgx"]
	path = sdk/intel-sdk/linux-sgx
	url = https://github.com/01org/linux-sgx.git
