[submodule "linux-sgx"]
	path = sdk/intel-sdk/linux-sgx
	url = https://github.com/01org/linux-sgx.git
[submodule "linux-sgx-driver"]
	path = kernel/linux-sgx-driver
	url = https://github.com/01org/linux-sgx-driver.git
