*.o
*.swp
*.a

*.swo

*.ko
*.cmd
*.symvers
*.order
*.mod.c
.tmp_versions

*~
*.o.*
*.mk
*.mod
*.swn

# Ignore cache directories
*.cache/
**/.cache/

# Ignore compile command files
compile_commands.json

# Ignore backup files
*.bak

# Ignore tags file (for ctags or similar)
tags

